Package: com.casle-midnight.missito
Name: Missito
Version: 0.0.1
Depends: curl
Architecture: iphoneos-arm
Description: Preference Manager
Maintainer: Jake Kaslewicz
Author: Jake Kaslewicz
Section: Utilities
